<h4>Тапкофон - Кэш</h4>
<h4>Размер: {{ size }}</h4>
<ul>
    <li>
        <a href="/cache/list">Список</a>
    </li>
    <li>
        <a href="/cache/clear">Очистить кэш</a>
    </li>
</ul>
<a href="/">Назад</a>