<!--
 Copyright 2021 d4n13l3k00.
 SPDX-License-Identifier: 	AGPL-3.0-or-later
-->

<h4>Информация о профиле</h4>
{% if user.deleted %}
    <h4>Удалённый аккаунт</h4>
{% else %}
    {% if user.photo %}
        <a href="/user/{{ user.id }}/avatar"><img src="/user/{{ user.id }}/avatar" alt="{{ user.id }}"></a>
    {% endif %}
    <ul>
        <h4>{{user.first_name}}{%+ if user.last_name %} {{ user.last_name }} {% endif %} {%+ if user.scam %} - [Scam] {% endif %}</h4>
        <a href="/chat/{{ user.id }}">Написать</a>
        {% if user.phone %}
            <li>Номер: <small>{{ user.phone }}</small></li>
        {% endif %}
        {% if user.username %}
            <li>Юзерка: <small>@{{ user.username }}</small></li>
        {% endif %}
        <li>ID: <small>{{ user.id }}</small></li>
        {% if user_full.about %}
            <li>О себе: <small>{{ user_full.about }}</small></li>
        {% endif %}
    </ul>
{% endif %}